#header{
    width: 100%;
    height: 4em;
    background-color: #000000;
    border-bottom: #414141 4px solid;
    left: 0;
    position: absolute;
    top: 0;
    display: inline-block;
}

#header #Title{
    width: 100%;
    text-align: center;
    color: #ffffff;
    padding-top: 1.5em;
    display: inline-block;
}

#header #Menu{
    right: 0;
    width: 20;
}