<ul>
    <li id="Crear">Crear</li>
    <li id="ConsultarTercero">Consultar</li>
    <li (click)="Return()" id="Return">Volver</li>
</ul>
<div id="CrearTercero" class="Formulario">
    <form class="custom-form" method="post">
        <h1>Crear Tercero</h1>

        Tipo de Terero: <br />
        <select class="with100" id="thirdTypeId" name="thirdType" [(ngModel)]="thirdType"
            required="required">
            <option value="0">Seleccione</option>
            <option [value]="thirdType.id" *ngFor="let thirdType of thirdTypes">{{thirdType.name}}</option>
        </select> <br />

        <input type="text" id="firtsName" name="firtsName" [(ngModel)]="firtsName" placeholder="Primer Nombre"
            required="required" />
        <input type="text" id="secondName" name="secondName" [(ngModel)]="secondName" placeholder="Segundo Nombre"
            required="required" />
        <input type="text" id="firtsSurName" name="firtsSurName" [(ngModel)]="firtsSurName"
            placeholder="Primer Apellido" required="required" />
        <input type="text" id="secondSurName" name="secondSurName" [(ngModel)]="secondSurName"
            placeholder="Segundo Apellido" required="required" />
        Genero: <br />
        <select name="genderType" id="genderType" class="with48" [(ngModel)]="genderType" required="required"
            aria-placeholder="Genero">
            <option value="0">Seleccione</option>
            <option value="1">Masculino</option>
            <option value="2">Femenino</option>
            <option value="3">No Especificar</option>
        </select>
        <input type="text" id="bussinesName" name="bussinesName" [(ngModel)]="bussinesName"
            placeholder="Nombre Comercial" required="required" />
        <br /> Tipo de Doumento: <br />
        <select name="documentType" class="with48" [(ngModel)]="documentType" required="required"
            aria-placeholder="Tipo de Doumento">
            <option value="0">Seleccione</option>
            <option [value]="documentType.id" *ngFor="let documentType of Documents">{{documentType.name}}</option>
        </select>
        <input type="text" name="documentNumber" [(ngModel)]="documentNumber" placeholder="Numero de documento"
            required="required" />
        <br />
        <div id="birthdayDate">
            Fecha de Nacimiento: <br />
            <input type="date" name="birthdayDate" [(ngModel)]="birthdayDate" placeholder="Fecha de Nacimiento"
                required="required" />
        </div>
        <div id="legalDate">
            Fecha Constitucion: <br />
            <input type="date" name="legalDate" [(ngModel)]="legalDate" placeholder="Feha legal" required="required" />
        </div>
        <button type="submit" (click)="save()">Guardar </button>
        <br />
    </form>
</div>
<div id="Consultar" class="Formularioonsulta">
    <table mat-table [dataSource]="thirdsData" class="mat-elevation-z8" #tabla1>

        <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let thirdsData"> {{thirdsData.id}} </td>
        </ng-container>

        <ng-container matColumnDef="Primer Nombre">
            <th mat-header-cell *matHeaderCellDef> Primer Nombre </th>
            <td mat-cell *matCellDef="let persons"> {{persons.firstName}} </td>
        </ng-container>
        <ng-container matColumnDef="Segundo Nombre">
            <th mat-header-cell *matHeaderCellDef> Segundo Nombre </th>
            <td mat-cell *matCellDef="let persons"> {{persons.secondName}} </td>
        </ng-container>
        <ng-container matColumnDef="Primer Apellido">
            <th mat-header-cell *matHeaderCellDef> Primer Apellido </th>
            <td mat-cell *matCellDef="let persons"> {{persons.firstSurName}} </td>
        </ng-container>
        <ng-container matColumnDef="Segundo Apellido">
            <th mat-header-cell *matHeaderCellDef> Segundo Apellido </th>
            <td mat-cell *matCellDef="let persons"> {{persons.secondSurName}} </td>
        </ng-container>
        <ng-container matColumnDef="Nombre Comercial">
            <th mat-header-cell *matHeaderCellDef> Nombre Comercial </th>
            <td mat-cell *matCellDef="let persons"> {{persons.comercialName}} </td>
        </ng-container>
        <ng-container matColumnDef="Tipo doumento Id">
            <th mat-header-cell *matHeaderCellDef> Tipo doumento Id </th>
            <td mat-cell *matCellDef="let persons"> {{persons.documentTypeId}} </td>
        </ng-container>
        <ng-container matColumnDef="Numero documento">
            <th mat-header-cell *matHeaderCellDef> Numero documento </th>
            <td mat-cell *matCellDef="let persons"> {{persons.documentNumber}} </td>
        </ng-container>
        <ng-container matColumnDef="Tipo tercero Id">
            <th mat-header-cell *matHeaderCellDef> Tipo tercero Id </th>
            <td mat-cell *matCellDef="let persons"> {{persons.thirdTypeId}} </td>
        </ng-container>
        <ng-container matColumnDef="Genero Id">
            <th mat-header-cell *matHeaderCellDef> Genero Id </th>
            <td mat-cell *matCellDef="let persons"> {{persons.genderId}} </td>
        </ng-container>
        <ng-container matColumnDef="Fecha Nacimiento">
            <th mat-header-cell *matHeaderCellDef> Fecha Nacimiento </th>
            <td mat-cell *matCellDef="let persons"> {{persons.birthDay}} </td>
        </ng-container>
        <ng-container matColumnDef="Fecha Constitucion">
            <th mat-header-cell *matHeaderCellDef> Fecha Constitucion </th>
            <td mat-cell *matCellDef="let persons"> {{persons.legalDate}} </td>
        </ng-container>
        <ng-container matColumnDef="Activo">
            <th mat-header-cell *matHeaderCellDef> Activo </th>
            <td mat-cell *matCellDef="let persons"> {{persons.active}} </td>
        </ng-container>
        <ng-container matColumnDef="borrar">
            <th mat-header-cell *matHeaderCellDef> Borrar? </th>
            <td mat-cell *matCellDef="let j = index;">
                <button mat-raised-button color="warn" focusable="false" (click)="borrarFila(j)">
                    Borra?
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
    </table>
</div>