<ul>
    <li id="Crear">Crear</li>
    <li id="ConsultarTercero">Consultar</li>
    <li id="Return">Volver</li>
</ul>
<div id="CrearTercero" class="Formulario">
    <form class="custom-form" method="post">
        <h1>Crear Tercero</h1>

        Tipo de Terero: <br/>
        <select class="with100" name="thirdType" [(ngModel)]="thirdType" required="required">
        </select> <br />

        <input type="text" id="firtsName" name="firtsName" [(ngModel)]="firtsName" placeholder="Primer Nombre" required="required" />
        <input type="text" id="secondName" name="secondName" [(ngModel)]="secondName" placeholder="Segundo Nombre"
            required="required" />
        <input type="text" id="firtsSurName" name="firtsSurName" [(ngModel)]="firtsSurName" placeholder="Primer Apellido"
            required="required" />
        <input type="text" id="secondSurName" name="secondSurName" [(ngModel)]="secondSurName" placeholder="Segundo Apellido"
            required="required" />
        Genero: <br />
        <select name="genderType" id="genderType" class="with48" [(ngModel)]="genderType" required="required"
            aria-placeholder="Genero"></select>
        <input type="text" id="bussinesName" name="bussinesName" [(ngModel)]="bussinesName" placeholder="Nombre Comercial"
            required="required" />
        Tipo de Doumento: <br />
        <select name="documentType" class="with48" [(ngModel)]="documentType" required="required"
            aria-placeholder="Tipo de Doumento"></select>
        <input type="text" name="documentNumber" [(ngModel)]="documentNumber" placeholder="Numero de documento"
            required="required" />

        Fecha de Nacimiento: <br />
        <input type="date" id="birthdayDate" name="birthdayDate" [(ngModel)]="birthdayDate" placeholder="Fecha de Nacimiento"
            required="required" />
        <div id="legalDate">
            Fecha Constitucion: <br />
            <input type="date" name="legalDate" [(ngModel)]="legalDate" placeholder="Feha legal" required="required" />
        </div>
        <button type="submit">Guardar </button>
        <br />
    </form>
</div>
<div id="Consultar" class="Formulario">
    b
</div>